{% extends "metronic.html.twig" %}

{% block pageTitle %}<h1>{{ 'NRB HOMES'|trans }}</h1>{% endblock %}

{% block body %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('dashboard') }}">{{ 'Dashboard'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            {{ 'Add Mouza'|trans }}
        </li>
    </ul>
<div class="row">
    <form class="form-horizontal" id="form_create_mouza" role="form" method="post" action="{{ form_action }}">

        <div class="col-md-12" id="purchased_land">
            {#{% include 'flash.html.twig' %}#}
            <div class="portlet light">

                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">{{ 'Purchased Land'|trans }}</span>
                    </div>
                </div>

                <div class="portlet-body">

                <div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'Name'|trans }}</label>
                <div class="col-md-7">
                    {{ form_widget(form.name) }}
                    <span class="error">{{ form_errors(form.name) }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'Upazila Name'|trans }}</label>
                <div class="col-md-7">
                    {{ form_widget(form.upozila) }}
                    <span class="error">{{ form_errors(form.upozila) }}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'GEO Code'|trans }}</label>
                <div class="col-md-7">
                    {{ form_widget(form.bbsGeocode) }}
                    <span class="error"></span>
                </div>
            </div>
        </div>
        {{ form_row(form._token) }}
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn green">{{ 'Save'|trans }}</button>
                </div>
            </div>
        </div>
                    </div>
                </div>
            </div>
    </form>
</div>
{% endblock %}

