{% extends "metronic.html.twig" %}

{% block pageTitle %}<h1>{{ 'NRB HOMES'|trans }}</h1>{% endblock %}

{% block body %}
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('dashboard') }}">{{ 'Dashboard'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            {{ 'Users List'|trans }}
        </li>
    </ul>

    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row"  id="purchased_land">
        <form class="form-horizontal" id="form_create_purchased_land" role="form" method="post" action="{{ form_action }}">

            <div class="col-md-12">
                {#{% include 'flash.html.twig' %}#}
                <div class="portlet light">

                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart theme-font hide"></i>
                            <span class="caption-subject theme-font bold uppercase">{{ 'Purchased Land'|trans }}</span>
                        </div>
                    </div>

                    <div class="portlet-body">

                        <div class="form-body">

                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ 'Land Type'|trans }}</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.landType) }}
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="purchased_section">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ 'Purchased'|trans }}</label>
                                    <div class="col-md-4">
                                        {{ form_widget(form.purchased, {'attr': {'class': 'isPurchased'}}) }}
                                        {{ form_errors(form.purchased) }}
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="is_purchased" style="display: none">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'Land owner name'|trans }}</label>
                                        <div class="col-md-4">
                                            {{ form_widget(form.landOwnerName) }}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'Land owner address'|trans }}</label>
                                        <div class="col-md-4">
                                            {{ form_widget(form.address) }}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="govt_section" style="display: none">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ 'Leased'|trans }}</label>
                                    <div class="col-md-4">
                                        {{ form_widget(form.leased, {'attr': {'class': 'isLeased'}}) }}
                                        {{ form_errors(form.leased) }}
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="is_leased" style="display: none">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'Deed Number'|trans }}</label>
                                        <div class="col-md-4">
                                            {{ form_widget(form.leasedInfo.deedNumber) }}
                                            {{ form_errors(form.leasedInfo.deedNumber) }}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'Deed Date'|trans }}</label>
                                        <div class="col-md-4">
                                            {{ form_widget(form.leasedInfo.deedDate) }}
                                            {{ form_errors(form.leasedInfo.deedDate) }}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'Duration'|trans }}</label>
                                        <div class="col-md-4">
                                            {{ form_widget(form.leasedInfo.deedDuration) }}
                                            {{ form_errors(form.leasedInfo.deedDuration) }}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'Lease Start Date'|trans }}</label>
                                        <div class="col-md-4">
                                            {{ form_widget(form.leasedInfo.leaseStartDate) }}
                                            {{ form_errors(form.leasedInfo.leaseStartDate) }}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ 'Total Amount'|trans }}</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.totalAmount) }}
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ 'Paid Amount'|trans }}</label>
                                <div class="col-md-4">
                                    {{ form_widget(form.paidAmount) }}
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            {% if documents is defined %}
                            <div class="form-group">
                                <label for="upload" class="col-md-3 control-label">{{ 'Attach Document'|trans }}</label>
                                <div class="col-md-6">
                                    <table class="table table-bordered table-striped">
                                        {% for document in documents %}
                                            <tr>
                                                <td> {{ document.attachment }}</td>
                                                <td> {{ document.metaData }}</td>
                                                <td>
                                                    <a class="btn red btn-sm remove_document" href="{{ path('document_delete', {id: document.id, _token: csrf_token('delete_document')}) }}">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>

                                </div>

                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="upload" class="col-md-3 control-label">{{ 'New Attachments'|trans }}</label>
                                <div class="col-md-4">
                                    <button style="background-color:#adadad; color: #000" class="input-xlarge btn default" id="fileinput-new">Select file</button>
                                </div>
                                <div class="col-md-offset-3 col-md-9" style="margin-top: 10px" id="selected_doc_file1"></div>
                            </div>

                        </div>
                        {{ form_row(form._token) }}
                        <table class="table table-bordered table-striped table-condensed flip-content table-list" style="margin-bottom: 0" id="table-dag" data-prototype="
                                    {% filter escape %}
                                        {{ include('AppBundle:Purchasedland:purchased_land_relation_prototype.html.twig', { 'form': form.purchasedLandRelation.vars.prototype}) }}
                                    {% endfilter %}">
                            <thead>
                            <tr>
                                <th style="vertical-align: middle;">{{ 'Mouza'|trans }}
                                    <span class="btn-set pull-right">
                                        <a target="_blank" class="btn custom-btn-xs yellow" href="{{ path('mouza_add') }}"><i class="fa fa-plus"></i>
                                        </a>
                                    </span>
                                </th>
                                <th style="vertical-align: middle;">{{ 'Dag Number'|trans }}</th>
                                <th style="vertical-align: middle">{{ 'Purchased Total Area'|trans }}<small> {{ '(decimal)'|trans }}</small></th>
                                <th style="text-align: center"></th>
                            </tr>
                            </thead>
                            <tbody id="record-list-dag">
                            {% for entity in form.purchasedLandRelation %}
                                {#{{ dump(entity) }}#}
                                <tr>
                                    {{ include('AppBundle:Purchasedland:purchased_land_relation_prototype.html.twig', { 'form': entity }) }}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                        <div class="clearfix">
                            <div class="btn-set pull-right">
                                <a class="btn custom-btn-xs yellow" id="add-dag" href="javascript:;">
                                    {{ 'Add Record'|trans }} <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">{{ 'Save'|trans }}</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </form>



        <div class="modal fade" id="ajax" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div id="mod-content" class="modal-content">
                    <div class="modal-body">
                        <img src="{{ asset('assets/layout3/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                        <span> &nbsp;&nbsp;Loading... </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
{% endblock %}


{% block include_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var dagCount = '{{ (form.purchasedLandRelation is defined) ? form.purchasedLandRelation|length : 0  }}';
    </script>
    <script src="{{ asset('assets/js/custom-rajax.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/purchased-land.js') }}" type="text/javascript"></script>
{% endblock %}