<table class="table table-bordered table-striped table-condensed flip-content table-list">
    <thead>
    <tr class="uppercase">
        <th>{{ 'ID'|trans }}</th>
        <th>{{ 'Owner Name'|trans }}</th>
        <th>{{ 'Owner Address'|trans }}</th>
        <th>{{ 'Land Type'|trans }}</th>
        <th>{{ 'Total Land'|trans }}</th>
        <th width="150px"></th>
    </tr>
    </thead>
    <tbody>
    {% if lands is not empty %}
        {% for land in lands %}
            <tr>
                <td>{{ land[0]['id'] }}</td>
                <td>{{ land[0]['landOwnerName'] }}</td>
                <td>{{ land[0]['address'] }}</td>
                <td>{{ land[0]['landType'] }}</td>
                <td>{{ land['totalArea'] }}</td>
                <td>
                    <a class="btn blue btn-sm" href="{{ path('purchased_land_update', {id: land[0]['id']}) }}"><i class="fa fa-edit"></i></a>
                   {# <a class="btn red btn-sm" href="{{ path('land_delete', {id: land.id}) }}"><i class="fa fa-times"></i></a>#}
                </td>

            </tr>
        {% endfor %}
    {% else %}
        <tr class="ta-center">
            <td colspan="15">{{ 'No record found'|trans }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>

<div class='dataTables_paginate paging_bootstrap pagination'>
    {{ knp_pagination_render(lands) }}
</div>
