{% extends "metronic.html.twig" %}

{% block pageTitle %}<h1>{{ 'NRB HOMES'|trans }}</h1>{% endblock %}

{% block body %}
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('dashboard') }}">{{ 'Dashboard'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            {{ 'Plot Record List'|trans }}
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-sm-12">
            <div class="portlet light">

                <div class="portlet-body">
                    <form id="form-search" class="form-horizontal" role="form" method="post" action="" style="">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <select class="form-control select2" name="" id="mouza_use_plot" placeholder="{{ 'Mouzas'|trans }}">
                                                <option value=""></option>
                                                {% for mouza in mouzas %}
                                                    <option value="{{  mouza.id }}">{{ mouza.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="hidden" id="dag_number_use_plot" name="ff[d.id]" class="form-control mo-upozila" placeholder="{{ 'Dag Number'|trans }}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" id="plotNumber" name="ss[pr.plotNumber]" class="form-control" placeholder="{{ 'Plot Number'|trans }}" />
                                        </div>
                                    </div>
                                </div>

                                <!--/span-->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button class="btn green" id="btn-search" data-url="{{ (search_url is defined) ? search_url : '' }}" type="button">{{ 'Search'|trans }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class='table-data'>
                        {% include "AppBundle:PlotRecord:list_content.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
{% endblock %}


{% block include_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/mouza-option.js') }}" type="text/javascript"></script>
{% endblock %}
{% block document_ready %}
    {{ parent() }}
    MouzaOption.init();
{% endblock %}